<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
</head>
<body>
{% extends "base.html" %}

    {% block form_container %}
    <div class="form-container">
        <h1>Parameters</h1>
        <div class="sidebar-divider"></div>
        <form action="{{ url_for('submit_home_form') }}" method="post" id="userForm">
            <div class="form-group">
                <label for="type_model">1.Type of Model</label>
                <select id="type_model" name="type_model" required>
                    <option value='gpt-4o'>gpt-4o</option>
                </select>

                <label for="temp_info">2. Temp Info</label>
                <select id="temp_info" name="temp_info" required>
                    <option value='0.7'>0.7</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endblock %}

    {% block navbar_main %}
        <h1>Pdf Summarizer</h1>

        <div class="main-container">


            <!-- <div class="upload-box">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF Icon" class="upload-icon" />
            <label for="fileUpload" class="upload-btn">
                📁 CHOOSE FILES
                <input type="file" id="fileUpload" multiple hidden>
            </label>
            <p class="upload-text" id="fileName">No file selected</p>
            </div> -->

            <form id="uploadForm" action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
            <div class="upload-box">
                <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF Icon" class="upload-icon" />

                <label for="fileUpload" class="upload-btn">
                📁 CHOOSE FILE
                <input type="file" id="fileUpload" name="file" accept="application/pdf" hidden required>
                </label>
                {% if form_data.file_name %}
                    <p class="upload-text" id="fileName">{{ form_data.file_name }}</p>
                {% else %}
                    <p class="upload-text" id="fileName">No file selected</p>
                {% endif %}
            </div>
            </form>

            <div class="meta-info">
                  <div class="rag-content-info">
                  <h1>Pdf Summarize with OpenAI</h1>
                  <textarea id="content-detail" name="content-detail" placeholder="Pdf Summarize with OpenAI...">{{form_data.rag_content}}</textarea>
                  </div>

                  <div class="mcq-info">
                  <h1>Questions Creation based on PDF content</h1>
                  <textarea id="mcq-detail" name="mcq-detail" placeholder="Questions Creation based on PDF content...">{{ form_data.mcq_content }}</textarea>

                  <a href="{{ url_for('static', filename='downloads/input_files.zip') }}" download class="btn btn-success">
                        Download ZIP
                  </a>

                </div>
            </div>

        </div>

    {% endblock %}
</body>